<section class="banner_post_1" style="height: 300px"  [ngStyle]="getStyle(article.img)">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-6">
                <div class="breadcrumb_tittle text-left">
                    <h2>blog details</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="breadcrumb_content text-right">
                    <p>Home<span>/</span>blog details</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area all_post section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="img/blog/single_blog_1.png" alt="">
                    </div>
                    <div class="blog_details" >
                        
                        <h2>
                            {{ article.title }}
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="far fa-user"></i> {{article.categorie}}</a></li>
                            <li><a href="#"><i class="far fa-comments"></i> {{article.owner}}</a></li>
                        </ul>
                        <div class="excert" [innerHtml]="article.content">
                        </div>




                    </div>
                </div>


                <div class="comments-area" *ngFor="let item of commentaire; let i = index;">
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                       {{item.comment}}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">{{item.owner}}</a>
                                            </h5>
                                            <p class="date">{{item.date|date:'yyyy-MM-dd'}}</p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form [formGroup]="addForm" class="form-contact comment_form" action="#" id="commentForm" >
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" formControlName="comment" id="comment" cols="30" rows="9"
                                        placeholder="Write Comment"></textarea>
                                </div>


                            </div>
                            <div class="load_btn">
                                <a class="btn_1" (click)="addComment()">SUBMIT </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================Blog Area end =================-->